{
  "presets": [
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    ["react-css-modules", {
      "generateScopedName": "[hash:base64:3]",
      "exclude": "/node_modules/",
      "webpackHotModuleReloading": true
    }]
  ]
}
